main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul li {
    list-style: none;
  }
  
  .prod-detail {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 50px 0;
  }
  
  .prod-view {
    max-width: 50%;
    display: flex;
    gap: 20px;
  }
  
  .prod-list-imgs {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  
  .prod-item-img {
    flex-shrink: 0;
    width: 76px;
    height: 80px;
    border-radius: 10px;
    background: #fff9e5;
    cursor: pointer;
  }
  .img-active {
    border: 1px solid #d13703;
  }
  .prod-item-img img,
  .prod-view-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .prod-view-img {
    width: 500px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fff9e5;
  }
  
  .prod-info {
    width: 50%;
  }
  
  .prod-name {
    color: #000;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .prod-price {
    color: #9f9f9f;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    margin-top: 5px;
  }
  
  .prod-votes {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
  }
  
  .prod-stars-list {
    display: flex;
    align-items: center;
    gap: 5px;
    list-style: none;
  }
  
  .prod-votes > p {
    color: #9f9f9f;
    font-size: 16px;
    line-height: 20px;
  }
  
  .prod-desc {
    color: #000;
    font-size: 14px;
    margin-top: 20px;
  }
  
  .prod-size-label {
    margin-top: 30px;
    color: #9f9f9f;
    font-size: 14px;
  }
  
  .prod-sizes-list {
    display: flex;
    gap: 16px;
    margin-top: 12px;
    cursor: pointer;
  }
  .prod-sizes-list li {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #faf4f4;
    display: flex;
    justify-content: center;
    align-items: center;
  
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .prod-sizes-list li.size-active {
    background: #fbebb5;
  }
  
  .prod-color-label {
    margin-top: 30px;
    color: #9f9f9f;
    font-size: 14px;
  }
  
  .prod-colors-list {
    display: flex;
    gap: 16px;
    margin-top: 12px;
  }
  .prod-colors-list li {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 50px;
    cursor: pointer;
  }
  .prod-colors-list li:nth-child(1) {
    background: #816dfa;
  }
  .prod-colors-list li:nth-child(2) {
    background: #000;
  }
  .prod-colors-list li:nth-child(3) {
    background: #cdba7b;
  }
  .prod-color-item.color-active {
    transform: scale(1.2);
  }
  
  .prod-add {
    margin-top: 30px;
    display: flex;
    gap: 18px;
  }
  
  .prod-quantity {
    width: 123px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 10px;
    padding: 8px;
    border: 1px solid #9f9f9f;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .prod-quantity-btn {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .prod-add-btn {
    display: block;
    width: 215px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #000;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
  