/* reset css */
* {
  padding: 0;
  margin: 0;
  /* kp tinh toan kich thuoc */
  box-sizing: border-box; 
}
html
{
  font-family:Arial, Helvetica, sans-serif;
}
/* chu y
lam từ ngoài vào trong
từ trên xuống dưới 
tu tong quan den chi tieticd

1. vi tri 
2 kichs thuoc
3 màu sắc
4 kiểu chữ 
*/

.clear
{
  clear:both;
}


#header
{
    height: 46px;
    background-color: #000;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;

}
#nav, .sub_more
{
    list-style-type: none;
}
#nav > li 
{
    display: inline-block;
    /*  navigation */
} 
#nav li{
    position: relative;
}

#nav li a{
    color:white;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display:block;

}
#nav > li:hover>  a{
    color:#000;
    background-color: #ccc;
    background-size: 100%;
    display:inline-block;
}
#nav .sub_more
{
  width:131.13px;
    display: none;
    position: absolute;
    background-color: #fff;
    color:#000;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

}
#nav li:hover  .sub_more
{
    display:block;
}
#nav .sub_more >li > a{
    /* nghĩa là đang trỏ vào mấy thằng thẻ a cấp 2*/
    color: black;
    padding:0 12px;
    font-size: 14 px;
}
#nav .sub_more >li:hover > a{
    color:#000;
    background-color: #ccc;
    background-size: 100%;
    display:block;
    
}
#nav{
    display: inline-block;
}

.ti-angle-down{
    font-size: 10px;
}

.ti-angle-down:before {
  content: "\e64b";
  margin-left: 10px;
}

.cart {
  color: white;
  position: fixed;
  top: 13px;
  right: 30px;
  font-size: 20px;
  z-index: 58;
}

body {
  background-color: #f2f8ff;
}
.content{
  background-color: white;
  width: 100%;
  display: flex;

}
.wrapper {
  margin: 100px;
  width: 430px;
  margin-left: 250px;
}

#preview {
  width: 100%;

  margin-bottom: 10px;
}

.thumbnails {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.thumbnail {
  width: 100px;
  cursor: pointer;
  box-sizing: border-box;
}

.thumbnail.active {
  border: 5px solid #d8dee6;
}

.thumbnail:hover {
  transform: scale(1.1);
}
.form{
  margin-top: 120px;
  margin-left:100px;
  
}
.price{
  display:Flex;
  float:left;
}
.form h1{
  font-size:50px;

}

.price h3{
  padding-top:20px;
  padding-right:10px;
  color:red;
}
h3#\31 m {
  text-decoration: line-through;
}

.color-options h3 {
  padding-top: 6px;
}

.color-options {
  display: flex;
  /* justify-content: center; */
  margin-top: 80px;
  /* margin-right: 29px; */
  font-size: 20px;
}

.color-option {
  display: none;
}

.color-options label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 40px;
  border: 1px solid #ccc;
  margin-right: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
  font-size: 17px;
}

.color-options label:last-child {
  margin-right: 0;
}

.color-options label:hover {
  background-color: #eee;
}

.color-option:checked + label {
  background-color: burlywood;
  color: #fff;
}


.size-options h3 {
  padding-top: 6px;
}

.size-options {
    display: flex;
    /* justify-content: center; */
    margin-top: 30px;
    /* margin-right: 29px; */
    font-size: 20px;

}

.size-option {
  display: none;
}

.size-options label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 40px;
  border: 1px solid #ccc;
  margin-right: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
  font-size: 17px;
}


.size-options label:last-child {
  margin-right: 0;
}

.size-options label:hover {
  background-color: #eee;
}

.size-option:checked + label {
  background-color: burlywood;
  color: #fff;
}

.add-cart {
  text-align: center;
}

.add-cart h2 {
  background-color: black;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.add-to-cart {
  margin-top:20px;
  width:100%;
  padding: 15px 30px;
  background-color: #292929;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: white;
  color: black;
}

.add-buy {
  text-align: center;
}

.add-buy h2 {
  background-color: black;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.click-buy {
  margin-top: 10px;
  width: 100%;
  padding: 15px 30px;
  background-color: rgb(180, 37, 37);
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}

.click-buy:hover {
  background-color: white;
  color: black;
}
.word-infor{
  
  margin-top: 30px;
  color:#292929

}
.box-number{
  margin-top: 30px;
  display: flex;
  
}
.box-number h3{
  margin-top:7px;  
  margin-right:10px;
}
input.modal-input-sl{
  width: 20%;
}
/* mua ngay */
.modal {
  position: fixed;
  top:0;
  right: 0;
  left:0;
  bottom:0;
  background: rgba(0,0,0,0.3);
  display:flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  color:black;
  display:none;
}
.modal-container
{
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn  ease 0.6s;
}
button.js-buy-ticket {
  color: white;
  font-size: 15px;
  padding: 8px 10px;
  background-color: red;
  float: right;
  text-decoration: none;
}
.modal-header  {
  background-color: black;
  height:80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: xx-large;
}
.button-close {
  position: absolute;
  right: 0;
  font-size: large;
  padding:12px;
  cursor:pointer;
  opacity:0.3;

}
.button-close:hover {
  opacity:1;
}
.ti-close{
  color:white;
  
}
button.pay a {
  text-decoration: none;
}
.ti-check:before {
  content: "\e64c";
  margin-right: 15px;
}

.modal.open{
  display:flex;
}
.ti-email:before {
  content: "\e75a";
  margin-right: 10px;
}
.ti-shopping-cart:before {
  content: "\e60d";
  margin-right: 10px;
}

.modal-body-buy .size-options {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}

.modal-body-buy .size-option {
  display: none;
}

.modal-body-buy .size-options label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
}

.modal-body-buy .size-options label:last-child {
  margin-right: 0;
}

.modal-body-buy .size-options label:hover {
  background-color: #eee;
}

.modal-body-buy .size-option:checked + label {
  background-color: burlywood;
  color: #fff;
}

.ti-user:before {
  content: "\e602";
  margin-right: 10px;
}

.modal-input-sl {
  border: 1px solid #ccc;
  font-size: 15px;
  padding: 10px;
  width: 10%;
  padding: 10px;
}
.modal-body-buy h3 {
  padding: 10px;
  font-size: 22px;
}
.pay{
  margin-top: 10px;
  background-color: #ffe600;
  border:none;
  color:white;
  font-size:15px;
  text-transform: uppercase;
  padding:10px;
  width:100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-label {
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content input[type="radio"] {
  display: none;
}

.dropdown-content label {
  display: block;
  padding: 10px;
  cursor: pointer;
}

.dropdown-content label:hover {
  background-color: #f1f1f1;
}

.dropdown-content input[type="radio"]:checked + label {
  background-color: #e9e9e9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.delivery-form {
  font-family: Arial, sans-serif;
  max-width: 100%;
  /* height: 100%; */
  margin: 0 auto;
  padding: 20px;
}

.delivery-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.delivery-form input,
.delivery-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.size-fields {
  display: flex;
  justify-content: space-between;
}

.size-fields div {
  flex: 1;
  margin-right: 10px;
}

.size-fields div:last-child {
  margin-right: 0;
}


.name-fields {
  display: flex;
  justify-content: space-between;
}

.name-fields div {
  flex: 1;
  margin-right: 10px;
}

.name-fields div:last-child {
  margin-right: 0;
}

.address-type {
  margin-bottom: 15px;
}

.phone-number {
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: red;
}







/* footer */
.footer {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.company-info p{
  margin-top:10px;
  margin-bottom: 10px;
}
.social-links {
  display: flex;

}
.social-links a {
  color: #ae8200;
  font-size: 35px;
  margin-right: 20px;
  text-decoration: none;
  transition: color 0.3s; 
  float:left;
  margin-top: 10px;
}

.social-links a:hover {
  color: #000; 
}

.company-info,
.contact-info
{
  flex-basis: 40%;
}
.contact-info p{
  margin-top:5px;
}
.contact-info a{
  text-decoration: none;
  color:blue;
}
.copyright {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}



