@media (min-width:1024px) and (max-width:1500px)
{
  .pc{
    display: block;
  }
   #slider .anh {
        height: 400px;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #slider .anh img{
      height: 400px;
    }
      .product-item h3{
        color:white;
        margin-top: 5px;
        font-size: 9px;
      }
      
      .price {
        margin-top:5px;
        font-weight: bold;
        color: #ff6600;
        font-size: 10px;
      }
      .click-buy{
        margin-top: 5px;
        padding: 5px;
        background-color: red;
        color:white;
        font-size:9px;
      }
  
  .product-item .second-image {
    width: 231.8px;
    height: 231.8px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 10px;
    opacity: 0;
    transition: opacity 0.5s;
  }
    #content2 {
      width: 100%;
      height: 550px;
      background-color: rgba(255, 81, 0, 0.519);
  }
}

@media (min-width:740px) and (max-width:1023px)
{
    .tablet {
        display: block;
    }
    #slider .anh {
        height: 300px;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #slider .anh img{
      height: 300px;
    }
    .product-item img {
        width: 200px;
        height: 250px;
      }
      .product-item h3{
        color:white;
        margin-top: 5px;
        font-size: 10px;
      }
      
      .price {
        margin-top:5px;
        font-weight: bold;
        color: #ff6600;
        font-size: 10px;
      }
      .click-buy{
        margin-top: 5px;
        padding: 5px;
        background-color: red;
        color:white;
        font-size:9px;
      }
      #content2{
        width: 100%;
        height: 530px;
        background-color: rgba(100, 54, 30, 0.519);
      }
      #content2 h1{
        display: flex;
          align-items: center;
          justify-content: center;
          padding:20px;
          
      }
      .video-container {
        position: relative;
       
        padding-bottom: 50%; /* Tỷ lệ khung hình 16:9 */
        overflow: hidden;
      }
      
      .video-container iframe {
        position: absolute;
      
      }
      .product-item .second-image {
        width: 172px;
        height: 252px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 10px;
        opacity: 0;
        transition: opacity 0.5s;
    }
    /* meunu */
    #nav > li 
    {
        display: block;
        /*  navigation */
    } 
    #header
    {
        height: 46px;
        background-color: #000;
        position: fixed;
        top:0;
        left:0;
        right:0;
        z-index: 1;
        overflow: hidden;

    }
    #header .mobi-menu {
      float: right;
      padding: 11px 16px;
      color: white;
      font-size: 20px;
    }
    #header .mobi-menu:hover {
      color:#ccc;
    }
    #nav li:hover  .sub_more
    {
      display: inline-block;
    }
    
}
@media (max-width:739px)
{
    .mobile {
        display: block;
    }
    #slider .anh {
        height: 200px;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #content{
        min-height:200px;
    }
    .ao-ban-chay h1{
        display: flex;
          align-items: center;
          justify-content: center;
          padding:20px;
          font-size:20px;
          
      }
    #slider .anh img{
      height: 200px;
      }
      .product-item img {
        width: 150px;
        height: 100px;
      }
      .product-item h3{
        color:white;
        margin-top: 5px;
        font-size: 7px;
      }
      
      .price {
        margin-top:5px;
        font-weight: bold;
        color: #ff6600;
        font-size: 7px;
      }
      .click-buy{
        margin-top: 5px;
        padding: 3px;
        background-color: red;
        color:white;
        font-size:6px;
      }
      #content2{
        width: 100%;
        height: 370px;
        background-color: rgba(57, 26, 0, 0.519);
      }
      #content2 h1{
        display: flex;
          align-items: center;
          justify-content: center;
          padding:20px;
          font-size: 25px;
          
      }
      .video-container {
        position: relative;
       
        padding-bottom: 60%; /* Tỷ lệ khung hình 16:9 */
        overflow: hidden
      }
      
      .video-container iframe {
        position: absolute;
      }

      .product-item .second-image {
        width: 87.6px;
        height: 100px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 10px;
        opacity: 0;
        transition: opacity 0.5s;
    }
    #nav > li 
    {
        display: block;
        /*  navigation */         
}
#header
{
    height: 46px;
    background-color: #000;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;
    overflow: hidden;
}
.ti-menu{
    color: white;
    font-size: 25px;
    position: fixed;
    top: 8px;
    right: 9px;
    z-index: 9999;
}
#header .mobi-menu:hover {
    color:#ccc;
  }
  #nav li:hover  .sub_more
  {
    display: inline-block;
  }
}
