/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

/* Các lớp CSS chung */
.clear {
  clear: both;
}

a {
  text-decoration: none;
}

i.ti-user, i.ti-headphone-alt, i.ti-shopping-cart {
  color: white;
}

#main {}

/* Header và Navigation */
#header {
  height: 46px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

#nav, .sub_more {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav li a {
  color: white;
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav > li:hover > a, #nav .sub_more > li:hover > a {
  color: #000;
  background-color: #ccc;
}

#nav .sub_more {
  width: 131.13px;
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav li:hover .sub_more {
  display: block;
}

#nav .sub_more > li > a {
  color: black;
  padding: 0 12px;
  font-size: 14px;
}

#nav {
  display: inline-block;
}

.ti-angle-down {
  font-size: 10px;
}

.ti-angle-down:before {
  content: "\e64b";
  margin-left: 10px;
}

.ti-menu {
  position: fixed;
  top: 8px;
  right: 9px;
}

.user, .cart, .contact {
  position: fixed;
  top: 8px;
  font-size: 28px;
  z-index: 90;
}

.cart {
  right: 80px;
  z-index: 58;
}

.contact {
  top: 10px;
  right: 150px;
}

#banner {
  width: 100%;
  height: 300px;
  background: url('banner-shoes.jpg') no-repeat center bottom/cover;
  position: relative;
  z-index: 0;
}

#content {
  width: 100%;
  min-height: 400px;
  background-color: white;
  position: relative;
  z-index: 1;
  padding: 0;
}
img {
  width: 99%;
}

#content h2 {
  text-align: center;
  margin: -30px 0 20px;
  color: white;
  background-color: #000;
  padding: 10px 20px;
  z-index: 20;
}

.section {
  margin-bottom: px;
  max-width: 95%;
  margin: 0 auto;
}

.section h2 {
  color: #333;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.section p {
  margin: 20px 0;
  font-size: 16px;
  line-height: 1.6;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-item {
  width: 17%;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: rgba(187, 203, 207, 0.534);
  position: relative;
  z-index: 0;
}

.product-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.product-item h3 {
  font-size: 18px;
  margin: 10px 0;
}

.product-item p {
  text-align: center;
  font-size: 16px;
  color: #303304;
  margin-bottom: 10px;
<<<<<<< HEAD
  justify-content: center; 
  align-items: center;  
=======

>>>>>>> 15c4013f9d8f7ed58140520af43c57bf9c0491e6
}

.product-item button {
  background-color: #e91e63;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-item button:hover {
  background-color: #d81b60;
}

.product-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.footer {
  background-color: black;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
}

.company-info p, .contact-info p {
  margin: 5px 0;
}

.social-links {
  display: flex;
}

.social-links a {
  color: white;
  font-size: 35px;
  margin: 10px 20px 0 0;
  transition: color 0.3s;
}

.social-links a:hover {
  color: burlywood;
}

.company-info, .contact-info {
  flex-basis: 40%;
}

.contact-info a {
  color: white;
}

.copyright {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

p.i4 {
  font-size: x-large;
  font-weight: 700;
}

@media (max-width: 768px) {
  #nav {
    display: none;
  }

  #mobilemenu, .ti-menu {
    display: block;
    font-size: 28px;
    cursor: pointer;
  }

  .user, .cart {
    font-size: 20px;
    right: 50px;
  }

  #nav li {
    display: block;
    text-align: center;
  }

  #nav .sub_more {
    position: static;
    box-shadow: none;
  }
}

@media (max-width: 576px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .company-info, .contact-info {
    flex: none;
  }
}

/* Modal Styles */
/* Đặt lại các giá trị padding và margin của tất cả các phần tử */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Định kiểu cho modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); /* Màu nền mờ */
  backdrop-filter: blur(5px); /* Hiệu ứng làm mờ nền */
}

/* Định kiểu cho nội dung của modal */
.modal-content {
  background-color: #fff;
  margin: 5% auto; 
  padding: 20px;
  border: 1px solid #ddd;
  width: 80%; 
  max-width: 800px;
  border-radius: 10px; /* Bo góc */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Đổ bóng */
  animation: fadeIn 0.3s ease-in-out; /* Hiệu ứng fade in */
}

/* Hiệu ứng fade in cho modal */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Định kiểu cho nút đóng modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

/* Định kiểu cho tiêu đề của modal */
.modal-header {
  text-align: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Định kiểu cho nội dung của modal */
.modal-body {
  margin: 20px 0;
}

/* Định kiểu cho phần carousel */
.carousel {
  position: relative;
  margin-bottom: 20px;
}

.carousel img {
  width: 100%;
  height: auto%;
  border-radius: 10px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Định kiểu cho các thông tin sản phẩm */
#product-name, #product-price {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Định kiểu cho các nhóm form */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-group input, .form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Định kiểu cho các phần chọn size và số lượng */
.size-select, .quantity-select {
  margin-bottom: 20px;
}

.size-select label, .quantity-select label {
  display: block;
  margin-bottom: 5px;
}

.size-select select, .quantity-select input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Định kiểu cho phần chân của modal */
.modal-footer {
  text-align: center;
}

.modal-footer button {
  padding: 10px 20px;
  border: none;
  background-color: #e91e63;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.modal-footer button:hover {
  background-color: #d81b60;
}

/* Carousel Styles */
.carousel {
  position: relative;
  margin-bottom: 20px;
}

.carousel img {
  width: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  transition: 0.6s ease;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Size and Quantity Select */
.size-select, .quantity-select {
  margin-bottom: 20px;
}

.size-select label, .quantity-select label {
  display: block;
  margin-bottom: 5px;
}

.size-select select, .quantity-select input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#bannerGT {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#bannerGT img {
  width: 100%;
  object-fit: cover;
}

/* Sub More Styles */
.sub_more {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sub_more li a {
  display: block;
  padding: 10px 16px;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
  font-weight: 500;
}

.sub_more li a:hover {
  background-color: #f1f1f1;
  color: #e91e63;
  border-radius: 4px;
}

/* Scroll Images */
#scroll-images {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

#scroll-images img {
  width: calc(33.333% - 10px);
  margin: 5px;
  object-fit: cover;
  height: auto;
}

/* News Section */
.news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.news-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-item img {
  width: 100%;
  object-fit: cover;
}

.news-item h3 {
  font-size: 18px;
  margin: 10px 0;
}

.news-item p {
  font-size: 14px;
  color: #333;
  margin: 10px;
}

.news-item a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.news-item a:hover {
  background-color: #333;
}

.news-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#bannernews {
  width: 100%;
  height: 400px;
  margin-top: 46px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

#bannernews img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  text-align: justify;
  text-justify: inter-word;
}
