/* reset css */
* {
    padding: 0;
    margin: 0;
    /* kp tinh toan kich thuoc */
    box-sizing: border-box; 
}
html
{
    font-family:Arial, Helvetica, sans-serif;
}
/* chu y
lam từ ngoài vào trong
từ trên xuống dưới 
tu tong quan den chi tieticd

1. vi tri 
2 kichs thuoc
3 màu sắc
4 kiểu chữ 
*/

.clear
{
    clear:both;
}
#main
{

}
#header
{
    height: 46px;
    background-color: #000;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;

}
#nav, .sub_more
{
    list-style-type: none;
}
#nav > li 
{
    display: inline-block;
    /*  navigation */
} 
#nav li{
    position: relative;
}

#nav li a{
    color:white;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display:block;

}
#nav > li:hover>  a{
    color:#000;
    background-color: #ccc;
    background-size: 100%;
    display:inline-block;
}
#nav .sub_more
{
  width:131.13px;
    display: none;
    position: absolute;
    background-color: #fff;
    color:#000;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

}
#nav li:hover  .sub_more
{
    display:block;
}
#nav .sub_more >li > a{
    /* nghĩa là đang trỏ vào mấy thằng thẻ a cấp 2*/
    color: black;
    padding:0 12px;
    font-size: 14 px;
}
#nav .sub_more >li:hover > a{
    color:#000;
    background-color: #ccc;
    background-size: 100%;
    display:block;
    
}
#nav{
    display: inline-block;
}

.ti-angle-down{
    font-size: 10px;
}

.ti-angle-down:before {
  content: "\e64b";
  margin-left: 10px;
}

.user {

  position: fixed;
  top: 8px;
  right: 20px;
  font-size: 28px;
  z-index: 90;
}
.cart {
  color: white;
  position: fixed;
  top: 8px;
  right: 80px;
  font-size: 28px;
  z-index: 58;
}
i.ti-user {
  color: white;
}
a{
  text-decoration: none;
}
i.ti-shopping-cart{
  color:white;
}

#slider .anh
{
    height: 500px;
    position: relative;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
 /* content */
 .content{
  height: 1000px ;
 }
 .container {
  overflow: auto; /* Giải quyết vấn đề float */
}

.left {
  float: left;
  width: 15%;
  height: 1000px; /* Chiều cao đầy đủ của viewport */
  background-color: rgb(155, 155, 155); /* Màu nền cho phần 30% */
}
.left h2{
  padding: 10px;
  margin-top: 10px;
}
.left h3{
  padding-top: 10px;
}
.sidebar-menu{
  padding-left: 30px;
  list-style-type: none;
}
.sidebar-menu a{
  color:black;
  text-decoration: none;

}
.menu-con{
  padding-left:20px;
  padding:5px;
  list-style-type: none;

}
.menu-con li {
  padding-top:10px ;
}








.right {
  float: right;
  width: 85%;
  height: 1000px; /* Chiều cao đầy đủ của viewport */
  background-color: white; /* Màu nền cho phần 70% */
}
.right h1{
  padding:20px;
  color:rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;

}
.product{
  width: 100%;
  display: flex;
  float:left;
  justify-content: center;
  padding:10px;
  
}
.product-item {
  position: relative;
  padding:0px 10px;
  width: 25%;
  margin-bottom: 20px;
  text-align: center;
}
.product-item h3{
  color:black;
  margin-top: 5px;
}

.product-item img {
  max-width: 100%;
}

.price {
  margin-top:5px;
  font-weight: bold;
  color: red;
}
.click-pick,.click-buy{
  margin-top: 5px;
  padding: 5px;
  background-color: #ccc;
  color:black;
}
.click-buy{
  background-color:red;
  color:white;
}
.image-container{
  width: 320px;
  height: 320px;
}
/* chuyen anh */

.product-item .second-image {
  text-align: center;
  position: absolute;
  top: ;
  left: 10px;
  opacity: 0;
  transition: opacity 0.5s ;
}

.product-item:hover .first-image {
  opacity: 0;
}

.product-item:hover .second-image {
  opacity: 1;
}

.button-group{
  display:flex;
  float:left;
  margin-left:50%;
}
.button-group .button-active{
  margin:2px;
  padding:5px;

}
.button-group .button{
  margin:2px;
  padding:5px;
  color:#ccc;

}

.button-group .button-active a,.button-group .button a{
  text-decoration: none;
  list-style-type: none;
  padding:3px;
}

/* modal */
.modal {
  position: fixed;
  top:0;
  right: 0;
  left:0;
  bottom:0;
  background: rgba(0,0,0,0.3);
  display:flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  color:black;
  display:none;
}
.modal-container
{
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn  ease 0.6s;
}
button.js-buy-ticket {
  color: white;
  font-size: 15px;
  padding: 8px 10px;
  background-color: red;
  float: right;
  text-decoration: none;
}
.modal-header  {
  background-color: black;
  height:80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: xx-large;
}
.button-close {
  position: absolute;
  right: 0;
  font-size: large;
  padding:12px;
  cursor:pointer;
  opacity:0.3;

}
.button-close:hover {
  opacity:1;
}
.ti-close{
  color:white;
  
}
button.pay a {
  text-decoration: none;
}
.ti-check:before {
  content: "\e64c";
  margin-right: 15px;
}

.modal.open{
  display:flex;
}
.ti-email:before {
  content: "\e75a";
  margin-right: 10px;
}
.ti-shopping-cart:before {
  content: "\e60d";
  margin-right: 10px;
}

.size-options {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}

.size-option {
  display: none;
}

.size-options label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
}

.size-options label:last-child {
  margin-right: 0;
}

.size-options label:hover {
  background-color: #eee;
}

.size-option:checked + label {
  background-color: burlywood;
  color: #fff;
}

.ti-user:before {
  content: "\e602";
  margin-right: 10px;
}

.modal-input-sl {
  border: 1px solid #ccc;
  font-size: 15px;
  padding: 10px;
  width: 10%;
  padding: 10px;
}
.modal-body h3 {
  padding: 10px;
  font-size: 22px;
}
.pay{
  margin-top: 10px;
  background-color: #ffe600;
  border:none;
  color:white;
  font-size:15px;
  text-transform: uppercase;
  padding:10px;
  width:100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-label {
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content input[type="radio"] {
  display: none;
}

.dropdown-content label {
  display: block;
  padding: 10px;
  cursor: pointer;
}

.dropdown-content label:hover {
  background-color: #f1f1f1;
}

.dropdown-content input[type="radio"]:checked + label {
  background-color: #e9e9e9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.delivery-form {
  font-family: Arial, sans-serif;
  max-width: 100%;
  /* height: 100%; */
  margin: 0 auto;
  padding: 20px;
}

.delivery-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.delivery-form input,
.delivery-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.size-fields {
  display: flex;
  justify-content: space-between;
}

.size-fields div {
  flex: 1;
  margin-right: 10px;
}

.size-fields div:last-child {
  margin-right: 0;
}


.name-fields {
  display: flex;
  justify-content: space-between;
}

.name-fields div {
  flex: 1;
  margin-right: 10px;
}

.name-fields div:last-child {
  margin-right: 0;
}

.address-type {
  margin-bottom: 15px;
}

.phone-number {
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: red;
}

.link-pro {
  text-decoration: none;
  }

















/* footer */
.footer {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .company-info p{
    margin-top:10px;
    margin-bottom: 10px;
  }
  .social-links {
    display: flex;

  }
  .social-links a {
    color: #ae8200;
    font-size: 35px;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.3s; 
    float:left;
    margin-top: 10px;
  }
  
  .social-links a:hover {
    color: #000; 
  }
  
  .company-info,
  .contact-info
 {
    flex-basis: 40%;
  }
  .contact-info p{
    margin-top:5px;
  }
  .contact-info a{
    text-decoration: none;
    color:blue;
  }
  .copyright {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }




