/* reset css */
* {
    padding: 0;
    margin: 0;
    /* kp tinh toan kich thuoc */
    box-sizing: border-box; 
}
html
{
    font-family:Arial, Helvetica, sans-serif;
}
/* chu y
lam từ ngoài vào trong
từ trên xuống dưới 
tu tong quan den chi tieticd

1. vi tri 
2 kichs thuoc
3 màu sắc
4 kiểu chữ 
*/

.clear
{
    clear:both;
}
#main
{

}
#header
{
    height: 46px;
    background-color: #000;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;

}
#nav, .sub_more
{
    list-style-type: none;
}
#nav > li 
{
    display: inline-block;
    /*  navigation */
} 
#nav li{
    position: relative;
}

#nav li a{
    color:white;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display:block;

}
#nav > li:hover>  a{
    color:#000;
    background-color: #ccc;
    background-size: 100%;
    display:inline-block;
}
#nav .sub_more
{
  width:131.13px;
    display: none;
    position: absolute;
    background-color: #fff;
    color:#000;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

}
#nav li:hover  .sub_more
{
    display:block;
}
#nav .sub_more >li > a{
    /* nghĩa là đang trỏ vào mấy thằng thẻ a cấp 2*/
    color: black;
    padding:0 12px;
    font-size: 14 px;
}
#nav .sub_more >li:hover > a{
    color:#000;
    background-color: #ccc;
    background-size: 100%;
    display:block;
    
}
#nav{
    display: inline-block;
}

.ti-angle-down{
    font-size: 10px;
}

.ti-angle-down:before {
  content: "\e64b";
  margin-left: 10px;
}

#slider .anh
{
    height: 500px;
    position: relative;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

.user {

  position: fixed;
  top: 8px;
  right: 20px;
  font-size: 28px;
  z-index: 90;
}
.cart {
  color: white;
  position: fixed;
  top: 8px;
  right: 80px;
  font-size: 28px;
  z-index: 58;
}
i.ti-user {
  color: white;
}
a{
  text-decoration: none;
}
i.ti-shopping-cart{
  color:white;
}





/* footer */
.footer {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .company-info p{
    margin-top:10px;
    margin-bottom: 10px;
  }
  .social-links {
    display: flex;

  }
  .social-links a {
    color: #ae8200;
    font-size: 35px;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.3s; 
    float:left;
    margin-top: 10px;
  }
  
  .social-links a:hover {
    color: #000; 
  }
  
  .company-info,
  .contact-info
 {
    flex-basis: 40%;
  }
  .contact-info p{
    margin-top:5px;
  }
  .contact-info a{
    text-decoration: none;
    color:blue;
  }
  .copyright {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

